header{
  background-color: #333333;
  .header-inner{
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title{
      margin:auto;
      h1{
        color:#ffffff;
      }
    }

    nav{
      display: flex !important;
      width:100%;
      ul{
        margin: 0;
        padding: 0;
        width:100%;
        list-style: none;
        align-items: center;
        display: flex;
        text-align: center;
        li{
          flex-grow: 1;
          a{
            transition: all .5s ease;
            border-style:none;
            outline:0;
            text-decoration: none;
            display: block;
            color: #ffffff;
            padding: 5px;
            background-color: #000033;
            &:hover, &.active{
              color: #ffffff;
              background-color: #003300;
            }
          }
        }
      }
    }
  }
}
