@import 'colors';
@import 'ui';

.container{
  background:rgba($form-bg,.9);
  padding: 40px;
  width:100%;
  max-width:600px;
  height:500px;
  margin: 0 auto;
  border-radius:4px;
  color:$white;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}
